.error-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.error-code {
    font-size: 4rem;
    color: #1ed760;
}

.error-message {
    font-size: 1.5rem;
    margin-top: 10px;
}

.back-home {
    width: fit-content;
    margin-top: 20px;
    text-decoration: none;
    color: #1db954;
    font-weight: bold;
    border: 2px solid #1db954;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.back-home:hover {
    background-color: #1db954;
    color: #ffffff;
}