<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../../public/img/logos/whiteIcono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/userBooks.css">
    <title>BookSphere/Mis Libros</title>
</head>
<body class="center">
    <section class="page">
        <header>
            <img class="logo" src="../../public/img/logos/fullWhiteLogo.png" alt="logo">
            <nav class="menu">
                <ul>
                    <li><a href="./dashboardUser.html">Página Principal</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="./userBooks.html">Mis Libros</a></li>
                    <li><a href="./user.html">Perfil</a></li>
                </ul>
            </nav>
        </header>
        
        <footer class="center">
            <p>© Mario Martín Godoy 2023</p>
            <div class="socialMedia">
                <a class="btnRed center" href="https://github.com/Marioby9/BookSphere" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <p>Ver Proyecto</p>
                </a>
                <a class="btnRed center" href="https://github.com/Marioby9/BookSphere" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <p>Marioby9</p>
                </a>
            </div>
            
        </footer>
    </section>

    <img class="overlayImg" src="../../public/img/overlay.jpeg" alt="background">
    <div class="overlay"></div>



    <script src="../../public/js/dashboardUser.js"></script>
</body>
</html>